.bg_coding-result {
  background-color: #000 !important;
}
@media screen and (min-width: 768px) {
  .show_destop {
    position: fixed;
    display: block !important;
  }
}
@media screen and (max-width: 990px) {
  .hidden_toggle-mobile {
    transform: translateX(100%);
    transition: 0.3s ease-in;
  }
  .open_toggle-mobile {
    transform: translateX(0);
    transition: 0.3s ease-in;
  }
}
