.css-sxh3gq-MuiAvatar-root-MuiAvatarGroup-avatar {
  object-fit: cover;
  background-color: blue !important;
  width: 16px;
  height: 16px;
  font-size: 10px;
}
.css-1ytufz-MuiAvatarGroup-root .MuiAvatar-root {
  background-color: rgb(37, 36, 36);
}
